################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Beat/.vs
/Beat/Beat/bin
/Beat/Beat/obj/Debug
/Beat/packages
